@import "@/sass/variables.scss";
@mixin flex($direction:column,$justify-content:center,$aligin-items:center) {
   display: flex;
   flex-direction: $direction; 
   justify-content: $justify-content;
   align-items: $aligin-items;
}
@mixin text($font-size:$primary-size){
    font-family: $primary-font;
    font-size: $font-size;
    letter-spacing: 1px;
    font-weight: bold;
}
@mixin button($vertical-padding:8px,$horizontal-padding:70px,$border-radius:4px) {
   padding: $vertical-padding $horizontal-padding;
   color : white;
   background-color: $primary-color;
   border: none;
   border-radius: $border-radius;
   cursor: pointer;
   background-color: $primary-color;
    &:hover{
         background-color: $secondary-color;
    }
}
@mixin input($width:100%){
    padding-block: 5px;
    padding-left: 1px ;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.409);
    color: white;
    outline: white;
    border:  none;
    &:focus{
        outline:white solid 1px;
    }
}
@mixin label(){
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    margin-block: 3px;

}